{% extends 'games/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    <div class="carousel-container">
        <h3 id="popular-recomended">РЕКОМЕНДУЕМОЕ</h3>
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
            </div>

            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0">
                    <div class="main-slides">
                        <img src="https://i.playground.ru/e/qRZ5rHLWUvywslFFlIaekw.jpeg" class="d-block w-100"
                             alt="Game slide 1">
                    </div>
                </div>

                <div class="carousel-item" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1">
                    <div class="main-slides">
                        <img src="https://i.playground.ru/e/SOdoVZNrwnW1Yimxq_d5XA.jpeg" class="d-block w-100"
                             alt="Game slide 2">
                    </div>
                </div>

                <div class="carousel-item" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2">
                    <div class="main-slides">
                        <img src="https://i.pinimg.com/originals/d2/07/0b/d2070b50b476556a2264988e39c80795.jpg" class="d-block w-100"
                             alt="Game slide 3">
                    </div>
                </div>

                <div class="carousel-item" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3">
                    <div class="main-slides">
                        <img src="https://images.stopgame.ru/games/logos/10472/c904x504/iFceigrWNMMFD5yUOqAbFw/black_mesa-square_8.jpg" class="d-block w-100"
                             alt="Game slide 4">
                    </div>
                </div>

                <div class="carousel-item" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4">
                    <div class="main-slides">
                        <img src="https://i.playground.ru/e/Tr7doJQhMiSb5OBGJ8E0Qg.jpeg" class="d-block w-100"
                             alt="Game slide 5">
                    </div>
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
{% endblock %}