{% extends 'games/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock %}

{% block content %}
    <div id="card-container">

    {% if games %}
        <div id="header">
            <h1>По запросу "{{ query }}" найдено:</h1>
        </div>

        {% for game in games %}
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/media/{{ game.image }}" class="img-fluid rounded-start"
                            alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h2 class="card-title"><a style="text-decoration: none; color: white;" href="{% url 'game' game.id %}">{{ game.name }}</a></h2>
                            <p class="card-text">{{ game.price }} руб.</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h1 id="non-search">По вашему запросу ничего не найдено</h1>
    {% endif %}

    </div>
{% endblock %}