{% extends 'games/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/wishlist.css' %}">
{% endblock %}

{% block content %}

{% if wishlists %}
    <div id="card-container">
        <div id="header">
            <h2>{{ request.user.username }}: СПИСОК ЖЕЛАЕМОГО</h2>
        </div>
        {% for wishlist in wishlists %}
            <div class="card custom-card mb-3">
                <div class="row g-0 h-100">
                    <div class="col-md-4 image-col">
                        <img src="/media/{{ wishlist.game.image }}"
                            class="img-fluid rounded-start card-img" alt="...">
                    </div>
                    <div class="col-md-8 content-col">
                        <div class="card-body">
                            <h1 class="card-title">{{ wishlist.game.name }}</h1>
                            <p class="card-text">{{ wishlist.game.price }}</p>
                            <div class="button-container">
                                <button type="button" class="btn btn-success"><a style="color:white;" href="{% url 'wishlist-add-cart' wishlist.game.id wishlist.id%}">В корзину</a></button>
                                <div class="delete-link">
                                    <a href="{% url 'wishlist-delete' wishlist.id %}">Удалить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% else %}
    <h3>Список желаемого пуст</h3>
{% endif %}

{% endblock %}

